@page "/add-event"
@using EventEase.Models
@inject NavigationManager NM
@inject EventService ES
<div class="add-event-form">
    <h2>Add New Event</h2>

    <EditForm Model="e" OnSubmit="addIt">
        <div class="form-group">
            <label for="name">Event Name:</label>
            <InputText @bind-Value="@e.Name" id="name" placeholder = "Enter your name"/>
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <InputTextArea @bind-Value="@e.Description" id="description" class="description-textarea" placeholder = "Enter Description" />
        </div>

        <div class="form-group">
            <label for="date">Date:</label>
            <InputText @bind-Value="@e.Date" id="date" placeholder = "mm/dd/yyyy" />
        </div>

        <div class="form-group">
            <label for="image">Image URL:</label>
            <InputText @bind-Value="@e.Image" id="image" placeholder = "Enter URL or leave blank" />
        </div>

        <button type="submit">Add Event</button>
    </EditForm>
</div>

@code
{
    private List<Event> events = new List<Event>();
    private Event e = new Event();

    protected override void OnInitialized()
    {
        events = ES.get();
    }

    private void addIt()
    {
        ES.add(e);
        NM.NavigateTo("/");
    }
}