@page "/"
@using EventEase.Components
@using EventEase.Models
@inject EventService ES

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

@foreach(Event e in events)
{

    <EventCard EventName = "@e.Name"
    EventDate = "@e.Date" EventDescription = "@e.Description"
    EventImage = "@e.Image"/>

}

<NavLink class="btn btn-primary" href="/add-event">Add Event</NavLink>

@code
{
    private List<Event> events = new List<Event>();

    protected override void OnInitialized()
    {
        events = ES.get();
    }
}
