@page "/"
@using EventEase.Components

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<EventCard EventName = "Cricket World Cup 2025"
    EventDate = "01/12/2025" EventDescription = "8 teams, 1 Champion!"
    EventImage = "https://tse1.mm.bing.net/th/id/OIP.RvpXFtpgkyQhqAETu5rD5wHaEY?r=0&rs=1&pid=ImgDetMain&o=7&rm=3"/>
