@page "/register/{eventId:int}"
@using EventEase.Models
@inject NavigationManager NM
@inject EventService ES

<h1>Register for Event</h1>

<div class="register-form">
    <h2>Register for Event</h2>

    <EditForm Model="reg" OnSubmit="RegisterForEvent">
        <div class="form-group">
            <label for="name">Name:</label>
            <InputText @bind-Value="@reg.Name" id="name" />
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <InputText @bind-Value="@reg.Email" id="email" />
        </div>

        <button type="submit">Register</button>
    </EditForm>
</div>


@code {
    [Parameter] public int eventId { get; set; }

    private Reg reg = new Reg();

    private void RegisterForEvent()
    {
        ES.register(eventId);
        NM.NavigateTo($"/details/{eventId}");
    }

    public class Reg
    {
        public string Name { get; set; } = string.Empty;
        public string Email { get; set; } = string.Empty;
    }
}